body{
	position: relative;
display: grid;
place-items: center;
margin: 2rem auto;
}
.--rotate{
animation: rodando .6s infinite linear;
}
.visor{
display: flex;
position: relative;
padding-top: 1rem;
}
.msg{
width: 100%;
height: 100%;
display: grid;
place-items: center;
text-align: center;
position: absolute;
color: white;
z-index: 10;
}
aside{
	position: absolute;
	float: left;
	top: 2%;
	right: 2%;
	width: 30%;
}
.btncarrier{
padding: 1rem;
display: flex;
gap: 55px;
background-color: gray;
border: 4px solid gray;
}
button{
color: black;
}
.container{
	width: 130px;
	
	height: 130px;
	overflow: hidden;
	background-color: black;
	
}
.roda{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	top: -15%;
	margin: 0;
	padding: 0;
	height: 350px;
	width: 130px;
	transform-style: preserve-3d;
	background-color: black;
}
.numero{
	position: absolute;
	height: 50%;
	width: 100px;
	border: 6px solid black;
	text-align: center;
	display: grid;
	place-items: center;
	font-family: Impact, sans-serif;
	font-size: 90px;
	color: white;
	background-color: rgb(168, 123, 27);
	
}
.um{
	transform: translateZ(160px);
}
.dois{
	transform: rotateX(60deg) translateZ(160px);
}
.tres{
	transform: rotateX(120deg) translateZ(160px);
}
.quatro{
	transform: rotateX(180deg) translateZ(160px);
}
.cinco{
	transform: rotateX(240deg) translateZ(160px);
}
.seis{
	transform: rotateX(300deg) translateZ(160px);
}
@keyframes rodando {
	from { transform: rotateX(0); }
	to   { transform: rotateX(-360deg); }
}

.--hidde{
	display: none;
	}

@media only screen and (max-width: 420px){
	body{
		display: none;
	}
	html::before{
		content: 'Ainda não funcionamos em resoluções menores que 420px (7,1cm), despulpe o inconveniente!';
		text-align: center;
		display: flex;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 1000px){
	aside{
		display: none;
	}
}